/* SPDX-License-Identifier: Apache-2.0 */

/ {
	aliases {
		led0 = &red_led;
		led1 = &green_led;
		motor-can = &flexcan0;
	};

	leds {
		compatible = "gpio-leds";

		red_led: led_0 {
			gpios = <&gpio3 12 GPIO_ACTIVE_LOW>;
			label = "Red LED";
		};
		green_led: led_1 {
			gpios = <&gpio3 13 GPIO_ACTIVE_LOW>;
			label = "Green LED";
		};
	};
};

&flexcan0 {
	status = "okay";
	bitrate = <250000>;
    can-transceiver {
	max-bitrate = <500000>;
	};
};

