ZEPHYR_CMSIS_MODULE_DIR=/home/bninaos/NXP_Projects/CAN_Node_Project/modules/hal/cmsis
ZEPHYR_CMSIS_6_MODULE_DIR=/home/bninaos/NXP_Projects/CAN_Node_Project/modules/hal/cmsis_6
ZEPHYR_HAL_NXP_MODULE_DIR=/home/bninaos/NXP_Projects/CAN_Node_Project/modules/hal/nxp
